*.gitignore filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.go filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.sum filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/google/uuid/CONTRIBUTORS filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/google/uuid/LICENSE filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/jackc/pgpassfile/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/jackc/pgservicefile/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/jackc/pgx/v5/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/jackc/pgx/v5/Rakefile filter=lfs diff=lfs merge=lfs -text
*.erb filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/jackc/puddle/v2/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/golang.org/x/crypto/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/golang.org/x/crypto/PATENTS filter=lfs diff=lfs merge=lfs -text
/vendor/golang.org/x/sync/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/golang.org/x/sync/PATENTS filter=lfs diff=lfs merge=lfs -text
/vendor/golang.org/x/text/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/golang.org/x/text/PATENTS filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/vendor/github.com/joho/godotenv/LICENCE filter=lfs diff=lfs merge=lfs -text
